body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin: 0%;
}

.blogimg{
    width: 300px;
    height: 300px;
}


h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.flex-conf{
    display: flex;
    background-color: hsl(192, 100%, 9%);
    color: #ffffff;
}

.col2 > a, .col3 > a{
    color: white;
    text-decoration: none;
}

.col2 > a:hover, .col3 > a:hover{
    color: white;
    text-decoration: underline;
}

.location, .phone, .mail{
    display: inline-block;
    margin-left: 10px;
}

.csa{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

.intro{
    background-image: url("images/bg-hero-desktop.svg");
    background-color:   hsl(193, 100%, 96%);
}

.head{
    padding: 20px;
    text-align: center;
}


.blogs{
    background-color: #ffffff;
}

.bpost{
    margin: 5% auto;
    width: 70%;
    border-radius: 10px;
    border-color: rgb(0, 0, 0);
    padding: 25px;
    box-shadow: 5px 5px 10px hsl(193, 100%, 96%),
                -5px -5px 10px hsl(193, 100%, 96%);
    
}

@media screen and (max-width: 380px) {
    body{
        height: 100%;
        background-color:  hsl(0, 100%, 74%);
        background-image: url("images/bg-intro-mobile.png");
    }
    .flex-container{
        flex-direction: column;
    }
    .right{
        margin-top: 5%;
        margin-left: 1%;
        margin-right: 1%;
    }
    .left{
        margin-top: auto;
        margin-bottom: auto;
        margin-left:  4%;
        margin-right:  4%;
        width: 345px ;
    }
}

.icon-social-twitter-circular:before {
    content: "\e900";
}
.icon-facebook2:before {
    content: "\ea91";
}
.icon-instagram:before {
    content: "\ea92";
}
