body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin: 0%;
}

.blogimg{
    width: 300px;
    height: 300px;
}


h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.flex-conf{
    display: flex;
    background-color: hsl(192, 100%, 9%);
    color: #ffffff;
    padding: 250px 25px 25px 25px;
}

.col1{
    width: 50%;
}
.col2, .col3{

    width: 15%; 
    text-align: left;
}

.col2 > a, .col3 > a{
    color: white;
    
    text-decoration: none;
}

.col2 > a:hover, .col3 > a:hover{
    color: white;
    text-decoration: underline;
}

.location, .phone, .mail{
    display: inline-block;
    margin-left: 10px;
}

.location{
    padding: 25px;
    margin-top: -47px;
}

.csa{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

.intro{
    background-image: url("images/bg-hero-desktop.svg");
    background-color:   hsl(193, 100%, 96%);
}

.head{
    padding: 20px;
    text-align: center;
}


.blogs{
    background-color: #ffffff;
}

.bpost{
    display: flex;
    margin: 5% auto;
    width: 70%;
    border-radius: 10px;
    border-color: rgb(0, 0, 0);
    padding: 25px;
    box-shadow: 5px 5px 10px hsl(193, 100%, 96%),
    -5px -5px 10px hsl(193, 100%, 96%);
    
}



.btn, .btx {
    color: rgb(255, 255, 255);
    width: 190px;
    height: 50px;
    background-color: hsl(322, 100%, 66%);
    
    border-radius: 25px;
    border: none;
    padding: 15px;
    text-decoration: none;
}

.btn:hover {
    background: hsla(322, 100%, 66%, 0.701);
    text-decoration: none;
}

.btx {
    color: rgb(0, 0, 0);
    background-color: hsl(0, 0%, 100%);
    box-shadow: 1px 1px 15px hsla(189, 4%, 65%, 0.5);
    margin-left: 55%;
    
}

.btx:hover {
    background: hsla(0, 0%, 100%, 0.832);
    text-decoration: none;
}

.down {
    box-shadow: 0px 10px 15px hsla(189, 4%, 65%, 0.5);
}



.semi{
    text-align: center;
    padding: 35px;
    background-color: #ffffff;
    bottom: -150px;
    position: relative;
    z-index: 1;
    box-shadow: 1px 1px 10px hsla(195, 2%, 34%, 0.5),
    -1px -1px 10px hsla(189, 4%, 65%, 0.5);
    margin: 5% auto;
    width: 70%;
    border-radius: 10px;
    border-color: rgb(0, 0, 0);

}

.spcer{
    margin-bottom: 25px;
}

.phrase{
    width: 40%; 
    display:inline-block; 
    margin-left: 5%; 
    margin-right: 5%;

}

mok{
    width: 40%; 
    display:inline-block;
}

@media screen and (max-width: 380px) {
    .intro{
        background-image: url("images/bg-intro-mobile.png");
    }
    .bpost{
        flex-direction: column;
    }
    .btx{
        margin-left: 5%;
        width: 120px;
    }
    .head > h1, .semi > h1{
        font-size: larger;
    }
    .phrase {
        width: 90%;
        text-align: center;
    }
    .mok{
        width: 90%;
        padding: 15px;

    }
    .flex-conf{
        flex-direction: column;
    }
    .col1,.col2,.col3,.col4{
        margin-top: 10%;
        width: 90%;
    }
    .col2, .col3{
        text-align: center;
    }
    .right{
        margin-top: 5%;
        margin-left: 1%;
        margin-right: 1%;
    }
    .left{
        margin-top: auto;
        margin-bottom: auto;
        margin-left:  4%;
        margin-right:  4%;
        width: 345px ;
    }
}
